<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='flexDiv'>
      <div id='header'>
        <div id='back' onclick="location.href='/index'"></div>
        <div style="flex: 3; justify-content: center;">
          <a style="font-weight: 600; color: #fff; font-size: 60px;
                    text-align: center; justify-content: center; align-items: center;
                    display: flex;">
            관리자페이지
          </a></div>
        <div></div>
      </div>
      <div id='body'>
        <ul class="list">
            <li>
                <a class='num'>신청곡 관리</a>
            </li>
            <li>
                <a class='num'>유저 관리</a>
            </li>
        </ul>
      </div>
    </div>
  </body>
</html>