<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='flexDiv'>
      <div class='form-inline'>
        <form action="/">
          <input type='submit'>
        </form>
      </div>
    </div>
  </body>
</html>