<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='flexDiv'>
      <div id='header'>
        <div id='reload'></div>
        <div></div>
        <div id='showTop100'></div>
      </div>
      <div id='body'>
      </div>
      <div class='form-inline'>
        <form action="/save" method="POST">
          <input type="text" id="singer" name="singer">
          <input type="text" id="title" name="title">
          <input type='submit'>
        </form>
      </div>
    </div>
  </body>
</html>