<!DOCTYPE html>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script language='javascript'>  
  Object.equals = function(x, y) { 
    if (x === y) return true; 
    if (!(x instanceof Object) || !(y instanceof Object)) return false; 

    if (x.constructor !== y.constructor) return false; 
    for (var p in x) { 
      if (!x.hasOwnProperty(p)) continue; 
      if (!y.hasOwnProperty(p)) return false;
      if (x[p] === y[p]) continue;
      if (typeof(x[p]) !== "object") return false;
      if (!Object.equals(x[p], y[p])) return false;
    } 
    for (p in y) { if (y.hasOwnProperty(p) && !x.hasOwnProperty(p)) return false; }
    return true; 
  }

  var Nidx = 0;
  var Nid  = 1;
  var Narr = [];
  
  function _initsong() {
    Nidx = 0;
    Nid  = 1;
    Narr = [];

    while($("#Nsong" + Nid).offset()) {
      Narr.push($("#Nsong" + Nid++).offset().top - 64 - $('div.streaming').height());
    }
    console.log(Narr)
  }
  function SongMove() {
    if(Narr.length - 1 < Nidx) {
      $('div.Nsong').animate({scrollTop: 0}, 3000);
      Nidx = 0;
    }
    else {
      $('div.Nsong').animate({scrollTop: Narr[Nidx++]}, 2000);
    }
  }
  var bfsong = new Object();
  var bfstr = new Object();

  function reload() {
    var ajaxOption = {
                url : "http://61.36.139.86:28789/mtrjson",
                async : true,
                type : "get",
                dataType : "html",
                cache : false
        };
        $.ajax(ajaxOption).done(function(data){
          if(!Object.equals(bfstr, JSON.parse(data).str)) {
            bfstr = JSON.parse(data).str;
            var op = {
              url : "http://61.36.139.86:28789/str",
              async : true,
              type : "get",
              dataType : "html",
              cache : false
            };
            $.ajax(op).done(function(data){
              $('.streaming').children().remove();
              $('.streaming').html(data);
            });
          }
          if(!Object.equals(bfsong, JSON.parse(data).song)) {
            bfsong = JSON.parse(data).song;
            var op = {
              url : "http://61.36.139.86:28789/reloadsong",
              async : true,
              type : "get",
              dataType : "html",
              cache : false
            };
            $.ajax(op).done(function(data){
              $('div.content').children().remove();
              $('div.content').html(data);
              _initsong();
            });
          }
        });
  };

  $(document).ready(()=> {
    _initsong();
  })
  setInterval(reload, 1000 * 4);
  setInterval(SongMove, 1000 * 10);
</script>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/monitoring.css' />
  </head>
  <body>
    
      <div class='head'>HotSong</div>
      <div class='streaming'>
        <h1>로딩중...</h1>
      </div>
      <div class='content'>
      </div>
  </body>
</html>