<!DOCTYPE html>
<script type="text/javascript">
    var result = <%= result %>;
    console.log(result)
    if(result==2) 
    {  
      alert('이미 있는 아이디 입니다');
    }
</script>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-page">
        <div class="form">
        <form class="login-form" action="/signup" method="POST">
            <input type="text"      name="name"     id="name"     placeholder="이름"        required/>
            <input type="text"      name="id"       id="id"       placeholder="아이디"      required/>
            <input type="password"  name="password" id="password" placeholder="비밀번호"    required/>
            <select id="task" name="task">
              <option value="금고통합관리">금고통합관리</option>
              <option value="E-STAX/SEN">E-STAX/SEN</option>
              <option value="OCR/기관부수">OCR/기관부수</option>
              <option value="공금예금/법원">공금예금/법원</option>
              <option value="기타">기타</option>
            </select>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="/">Sign In</a></p>
        </form>
    </div>
  </div>
  </body>
</html>