<!DOCTYPE html>
<script>
  function clock() {
      var date = new Date();
      if(date.getHours() < 10) {
        var hours = "0" + date.getHours();
      } else {
        var hours = '' + date.getHours();
      }
      if(date.getMinutes() < 10) {
        var minutes = "0" + date.getMinutes();
      } else {
        var minutes = '' + date.getMinutes();
      }
      var time = hours + minutes;
      console.log(time);
  }
      
  function init() {
    clock();
    setInterval(clock, 1000 * 60);
  }
  
  init();
</script>
<html>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      if(songlist[0].url) {
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '<%= songlist[0].url.substring(32) %>',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      function onPlayerReady(event) {
        event.target.playVideo();
        setTimeout(stopVideo, 10000);
      }
      var set=0;
      function onPlayerStateChange(event) {
        if(set && event.data != 1) {
          document.action.submit();
        }
        if(event.data==3) set=1;
      }
      function stopVideo() {
        player.stopVideo();
        document.action.submit();
      }

}
    </script>
    <form action="/streaming" method="POST" name='action' class="streamed" style="display: inline;">
       <input type="hidden" id="title" name="title" value="<%= songlist[0].title %>">
    </form>
  </body>
</html>