@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto", sans-serif;
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(137, 128, 201);
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 700px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 40px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: slateblue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 40px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: slateblue;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 30px;
}
.form .message a {
  color: slateblue;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span select {
  color: #4d4d4d;
}

select { 
  width: 100%; /* 원하는 너비설정 */ 
  height: 78px;
  padding: 15px; /* 여백으로 높이 설정 */ 
  font-family: "Roboto", sans-serif;/* 폰트 상속 */ 
  font-size: 40px;
  color: #4d4d4d;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) 
  no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
  border: 1px solid #999; 
  border-radius: 0px; /* iOS 둥근모서리 제거 */ 
  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
  appearance: none; 
  margin-bottom: 15px;
}